  .square {
      width: 100px;
      height: 100px;
      background-color: #73dab2;
  }
  
  .flex {
      margin: 10px;
  }

  /* 1 */
  
  .flexOne {
    display: flex;
  }

  .flexOne .square {
    margin: 5px;
  }
  
  /* 2 */

  .flexTwo {
    display: flex;
    flex-direction: column;
  }

  .flexTwo .square {
    margin: 2px;
  }
  
  /* 3 */

  .flexThree {
    display: flex;
    flex-direction: row-reverse;
    justify-content: left;
  }

  .flexThree .square {
    margin: 2px;
  }

  /* 4 */
  
  .flexFour {
    display: flex;
    width: 350px;
    flex-wrap: wrap;
  }

  .flexFour .square {
    margin: 5px;
    background: #3d8b6d;
  }

  /* 5 */
  
  .flexFive {
    display: flex;
    width: 350px;
  }

  .flexFive .item {
    margin: 2px;
    width: 100px;
    height: 100px;
    background: #3d8b6d;
  }

  .flexFive #grow {
  flex-grow: 2    
  }

  /* 6 */
  
  .flexSix {
    display: flex;
    height: 400px;
    width: 500px;
    background: #f1f1f1;
    flex-direction: column;
  }

  .flexSix .one {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
  }
  .flexSix .two{
    display: flex;
    justify-content: space-between;
    background: #d6d6d6;
    margin-bottom: 50px;
  }
  
  .flexSix .three {
    display: flex;
    justify-content: space-evenly;
  }

  /* 7 */
  
  .flexSeven {
    display: flex;
    height: 400px;
    width: 500px;
    justify-content: space-between;
  }

  .flexSeven .one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #f1f1f1;
  }
  .flexSeven .two {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: #f1f1f1;
  }
  .flexSeven .three {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: #f1f1f1;
  }
  .flexSeven .four {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #f1f1f1;
  }

  /* 8 */
  
  .flexEight {
    display: flex;
    height: 400px;
    width: 300px;
    background: #eeeeee;
  }

  .flexEight .one {
    display: flex;
    align-items: center;
  }
  .flexEight .two {
    display: flex;
    align-items: flex-end;
  }
   .flexEight .three {
    display: flex;
    align-items: flex-start;
  }

  /* 9 */
  
  .flexNine {
    display: flex;
    width: 450px;
    height: 250px;
    background: #eeeeee;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  #special {
    align-self: flex-end;
  }
  
  
  
  
  